PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb://localhost:27017/muse

JWT_SECRET=ebd1b81640fe829d834ac1dece80a5543404d3db4c78c00bf3ec0f29fd7cbdae0a2e1c7c1d85af7185a4c3c917d0d808
JWT_EXPIRES_IN=30d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

GMAIL_USER=
GMAIL_APP_PASSWORD=